.wrapperMain {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(86, 207, 249, 1) 0%,
    rgba(252, 176, 69, 1) 91%
  );
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.link {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  transition: box-shadow 0.2s ease-out;
}

.link:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(123, 147, 199);
  border: 1px solid rgb(123, 147, 199);
}

.active {
  background-color: rgb(123, 147, 199);
  border: 1px solid rgb(123, 147, 199);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
