.wrapper {
  width: 968px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  padding: 0 20px;
}

.wrapperMain {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(86, 207, 249, 1) 0%,
    rgba(252, 176, 69, 1) 91%
  );
  display: flex;
  justify-content: center;
}

.link {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  transition: box-shadow 0.2s ease-out;
}

.link:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(123, 147, 199);
  border: 1px solid rgb(123, 147, 199);
}

.active {
  background-color: rgb(123, 147, 199);
  border: 1px solid rgb(123, 147, 199);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.welcome {
}

.home {
  margin-right: auto;
}

.welcomeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: auto;
}

.name {
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}

.buttonLogout {
  color: white;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  transition: box-shadow 0.2s ease-out;
}

.buttonLogout:active,
.buttonLogout:hover {
  background-color: rgb(206, 97, 97);
  border: 1px solid rgb(206, 97, 97);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
