.btn {
  width: 70px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(206, 97, 97);
  transition: box-shadow 0.2s ease-out;
  margin-left: auto;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
