.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline {
  text-align: center;
  margin-bottom: 50px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  color: white;
  font-size: 32px;
}
